.navbar {
    position: sticky;
    top: 0;
    padding: 2rem;
    background-color: rgb(146, 230, 116);
}

.navlinks {
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 2rem;
}

.navlinks>a {
    text-decoration: none;
    color: rgb(34, 32, 32);
}

.navlinks>a:hover {
    color: black;
}